html, body {
  height: 100%;
  margin: 0;
}

.large-text , .small-text ,.medium-text  {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.08em;
  font-weight: 600;
  margin: 0;
  color: #F1F6F7;
}

.large-text {
  font-size: 11vh;
  font-weight: bold;
}

.small-text {
  font-size: 2.8vh;
}

.medium-text{
  font-size: 6vh;
}
